.container {
    display: flex;
    height: 300px;
    overflow: hidden;
    align-items: flex-end;
    margin-bottom: 1rem;
}
.height {
    background-color: lightblue;
    margin-right: 5px;
    width: 30px;
    transition: height 0.3s;
    transition: background-color 0.3s;
}

.changing {
    background-color: pink;
}